<div class="row p-4">
    <div class="col-md-4">
        <img src="https://www.lib.uchicago.edu/media/images/eckhart-library.2e16d0ba.fill-1000x750-c75.jpg "
            style="float: left;" height="300" width="400" ALIGN=”right”>
    </div>
    <div class="col-md-8">
        <p>Libraries are places of information.
            When most people think "library" they think books.
            And while that is certainly true, these days books take different shapes, such as e-books and audio books.
            More than just books, libraries are places of information, offering people free access to a wealth of
            information
            that they often can't find elsewhere, whether online, in print or in person.
            Whether they're looking for DVDs or the latest best-seller; health or business information found on internet
            databases not accessible at home, or going for story times and community programming, the library is a
            center of
            community for millions of people.</p>

        <p>People use libraries to work.
            They also use library resources to learn about personal interests.
            Sometimes, they get recreational media such as films and music.
            Students use libraries to study.</p>

        <p>Libraries help the students to develop good reading and study habits.
            Public officials use libraries for research and public issues.
            The libraries provide information and services that are essential for learning and progress.</p>
    </div>
</div>