<nav class="navbar navbar-expand-sm navbar-custom bg-dark" style="background-color: #aa53cc9c">

    <a href="/" class="navbar-brand">Library</a>
    <div class="navbar-collapse collapse" id="navbarCustom">
        <ul class="navbar-nav ml-auto" (click) = routeWithQueryParams($event)>

            <li class="nav-item ">
                <a class="nav-link" routerLink="login" href="#">Admin Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="login" href="#">User Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="about" href="#">About us</a>
            </li>

        </ul>
    </div>
</nav>